################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vish_Tech_Ecom/.vs
/Vish_Tech_Ecom/Vish_Tech_Ecom.API/obj/Debug/net5.0
/Vish_Tech_Ecom/Vish_Tech_Ecom.Core/bin/Debug/net5.0
/Vish_Tech_Ecom/Vish_Tech_Ecom.Core/obj/Debug
